.profile__profession {
  margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    padding-top: 16px;
}

@media screen and (max-width: 767px) {
  .profile__profession {
    font-size: 14px;
    line-height: 17px;
    padding-top: 14px;
    text-align: center;
  }
}
