.header {
  min-height: 74px;
  width: 100%;
  max-width: 880px;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1024px) {
  .header {
    width: 90%;
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: 100%;
    min-height: 56px;
    padding-top: 28px;
  }
}
