.elements {
  list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 20px 17px;
    grid-template-rows: repeat(auto-fill, 361px);
}

@media screen and (max-width: 1024px) {
  .elements {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

@media screen and (max-width: 767px) {
  .elements {
    padding-top: 36px;
    grid-template-columns: 1fr;
  }
}
