.profile__edit-bth {
  width: 24px;
  height: 24px;
  background-color: #000;
  background-image: url(../../../images/Pen.svg);
  background-repeat: no-repeat;
  background-position: center center;
  transition: .5s;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  margin-left: 15px;
  position: relative;
  bottom: 11px;
}

.profile__edit-bth:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__edit-bth {
    width: 18px;
    height: 18px;
    margin-left: 8px;
    bottom: 9px;
  }
}
