.element__place {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 70%;
  position: absolute;
  bottom: 28px;
  left: 21px;
}

@media screen and (max-width: 1024px) {
  .element__place {
    bottom: 20px;
  }
}
