.popup__save-btn {
  border: 0;
  box-sizing: border-box;
  margin-top: 38px;
  width: 358px;
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  cursor: pointer;
  transition: .5s;
}

.popup__save-btn:hover {
  background-color: rgba(0,0,0,.8);
}

@media screen and (max-width: 767px) {
  .popup__save-btn {
    font-size: 14px;
    width: 100%;
    margin-top: 35px;
    line-height: 18px;
  }
}
