.element__place {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  padding-top: 20px;
  padding-left: 21px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 70%;
}
